body
  margin: 0
  font-family: 'Roboto', sans-serif
  background: #23074D /* Для браузеров, которые не поддерживают градиенты */
  background: -webkit-linear-gradient(60deg, #23074D, #CC5333) /* Для Safari 5.1 - 6.0 */
  background: -o-linear-gradient(60deg, #23074D, #CC5333) /* Для Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(60deg, #23074D, #CC5333)/* Для Firefox 3.6 - 15 */
  background: linear-gradient(60deg, #23074D, #CC5333) /* Стандартный синтаксис */

p,h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0 
*
  box-sizing: border-box
.active
  transform: scale(1.2)
  color: #CC5333
.header
  padding-top: 20px
  padding-bottom: 20px
  &-content
    padding: 20px 10px
    background-color: rgba(#ffffff, 0.8)
    border-radius: 10px
.catalog
  &-list
    
    list-style: none
    margin: 0
    padding: 5px 0
    text-align: center
    li
      display: flex
      flex-direction: column
      align-items: center
      cursor: pointer
      text-align: center
      font-size: 14px
      transition: all 0.2s
      margin-bottom: 5px
      img
        display: block
        height: 32px
        width: 32px
        margin-bottom: 5px
        transition: all 0.2s
      &:hover
        img
          transform: scale(1.2)
.form
  margin-left: auto
  margin-right: auto
  width: 90%
  position: relative
  margin-bottom: 30px
  &__input
    font-size: 18px
    padding: 8px
    border: none
    border-bottom: 1px solid black
    background-color: transparent
    width: 100%
    &::focus
      border: none
      border-bottom: 1px solid black
  &__btn
    position: absolute
    right: 0
    top: 0
    padding: 10px
    border: none
    background-color: transparent
    cursor: pointer
    &::focus
    border: none
.main
  padding-bottom: 70px
  &-content
    padding: 20px 10px
    background-color: rgba(#ffffff, 0.8)
    border-radius: 10px
.card
  border-bottom: 1px solid #000
  &-body
    padding: 10px 0
  &-title
    font-size: 18px
  &-class
    text-align: center
  &-platinum,&-diamond,&-item
    text-align: center
.title
  margin-bottom: 20px
  &-platinum,&-diamond,&-item
    text-align: center
    font-weight: 700
    font-size: 18px
  &-class
    text-align: center
    font-weight: 700
    font-size: 18px
  &-title
    font-size: 18px
.all-count
  display: flex
  flex-direction: column
  margin-bottom: 10px
  &_title
    text-align: center
    font-weight: 700
    font-size: 18px
    margin-bottom: 20px
  &_content
    display: flex
    justify-content: center
    align-items: center
  &_platinum
    margin-right: 50px
.filter
  display: flex
  flex-direction: column
  padding-top: 8px
  &-title
    font-weight: 700
    font-size: 18px
    margin-bottom: 20px
  &-check
    display: flex
    flex-direction: column
    margin-bottom: 20px
    padding-left: 20px
    &_container
      display: none
      &_active
        display: block
    &_title
      position: relative
      background-color: #ffffff
      border: 1px solid #000000
      border-radius: 5px
      padding: 10px 5px
      cursor: pointer
      z-index: 100
      &_after
        position: absolute
        top: 40%
        right: 10px
        transform: translateY(-30%) rotate(135deg)
        transition: all 0.5s
        z-index: 120
        content: ""
        width: 15px
        height: 15px
        border-bottom: 2px solid #000
        border-right: 2px solid #000
        &_active
          transform: translateY(-50%) rotate(45deg) 
  
    &_label 
      display: block
      min-height: 16px
      position: relative
      padding-left: 25px
      color: #000000
      font-size: 16px
      font-weight: 700
      cursor: pointer
      user-select: none
      padding-top: 10px
      padding-bottom: 5px
      margin-bottom: 10px
      &::after
        position: absolute
        bottom: 0
        left: 20px
        transition:  all 0.3s
        content: ""
        height: 2px
        width: 0
        background: #000
      &:hover
        &::after
          width: 65%
      &-text
        display: inline-block
        vertical-align: top
        line-height: 100%
        margin-top: 1px
      .active
        font-weight: 700
    &_checkbox
      opacity: 0
      position: absolute
      cursor: pointer
    &_checkmark
      &.checked::after
        transform: scale(1)
      &:after
        transform: scale(0)
        transition: all 0.2s
        width: 20px
        height: 20px
        position: absolute
        top: 10px
        left: 0
        content: ""
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3 15L15 1.2 13.7 0 5.1 12.3 1.1 8 0 9.4 5.3 15z' fill='%23005bff'/%3E%3C/svg%3E")

@media ( max-width: 992px )
  .form
    width: 90%
  .filter
    &-check
      padding-left: 10px

@media   ( max-width: 768px )
  .filter

    &-title
      width: 100%
      text-align: center
@media ( max-width: 576px )
  .card
    &-title
      font-size: 14px
      
    
        
			
		
	